body {

    background-color: rgb(253, 251, 251);


}

#cabecalho {

    position: fixed;
    top: 0;
    background-color: green;
    width: 100%;
    
}

footer {

    margin-right: 60%;
    
}

#titulo {

    text-align: center;
    color: aliceblue;

}

.textos {

    font-size: 20px;
    color: aliceblue;
    background-color: green;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2.5px;
    font-style: italic;
    

}

.listas{
    
    display:flex;

}

li {

    font-style: oblique;

}