body {

    background-color: rgb(253, 251, 251);
    

}

#cabecalho {

    top: 0;
    background-color: green;
    padding-bottom: 50px;
    

}

footer {

    margin-right: 60%;
    
}

#titulo {

    text-align: center;
    color: aliceblue;

}