body {

    background-color: rgb(253, 251, 251);


}

#cabecalho {

    position: fixed;
    top: 0;
    background-color: green;
    width: 100%;
    
    
    

}

footer {

    margin-right: 60%;
    
}

#titulo {

    text-align: center;
    color: aliceblue;

}